.bgexp {
    @include fullimagebg('experience.png');
    h1{
        margin-top: 100px;
    }
    p{
        margin: 24px 140px;
    }
}

.bgtop{
    @include halfimagebg('top.png');
}

.bgparchive{
    @include halfimagebg('parchive.png');
}

.vv{
    h2{
        padding:0px 0px 32px 0px;
    }
}

#panorama-360-view{
    width: 80vw;
    height: 80vh;
    margin:auto;
}

.vfa p{
    padding-top:32px;
}

video{
    padding:32px;
    width:800px;
}

@media screen and (max-width: 800px) {
    .bgexp {
        @include fullimagebg('experience.png');
        h1{
            margin-top: 60px;
        }
        p{
            margin: 16px 40px;
        }
    }

    video{
        width:600px;
    }

}    

@media screen and (max-width:428px) {
    video{
        width:320px;
    }
}    